body {
  margin: 0;
  background: #0b0f14;
  overflow: hidden;
  font-family: Arial;
}

canvas {
  display: block;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
}